@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



*
{
    margin: 0%;
    padding: 0%;

}
html{
    scroll-behavior: smooth;
}
body{
    background:#da4453;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
.navbar
{
width: 100%;
display: flex;
background: white;
color: #da4453;
height: 40px;
position: sticky;
top: 0%;

}
.l-nav
{
    width: 70vw;
    display: flex;

}
.nav-list
{
    display: flex;
    width: 100%;

}
.nav-list li{
    list-style: none;
    margin: auto;
}
.r-nav
{
    width: 30vw;
    text-align: right;
    margin: auto;
    
}
.logo
{
    width: 43px;
    height: 43px;
    padding: 2px;
}
.burger
{
    position: fixed;
    top: 1%;
    left: 1%;
    
}

.collapse-nav
{
    background: white;
    color: #da4453;
    transition: 1s;
    height: 0px;
    overflow: hidden;
    position: fixed;
   width: 100%;
  
   
}
.nav-list-collapse
{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
 


}
.nav-list-collapse li{
    list-style: none;
    margin: auto;
    padding: 10px;
    
}

.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
  }
  
  .nav-toggle .bar {
    height: 3px;
    width: 100%;
    background-color:#da4453;
    transition: all 100ms ease-in-out;
  }
  
  .nav-toggle:hover {
    cursor: pointer;
  }
  
  .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
  }
  
  .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
  }
  
  .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
  }
  

  .b-text
{
    text-align: center;
    font-size: 20vw;
    width: 100%;
}
.s-text
{
    text-align: center;
    font-size: 2vw;
    padding: 35px 20px;
}
.img-1
{
    max-width: 300px;
    max-height: 300px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


    border: 5px solid white;

}
.img-div
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sec 
{
    width: 100%;
    margin: 100px 0px;

    display: flex;
}
.tit{
   display: none;

}
.tit1
{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 7vw;
    text-shadow:
    
    -6px -6px #f7cfc8, -5px -5px #f7cfc8,
    -4px -4px #f7cfc8, -3px -3px #f7cfc8, -2px -2px #f7cfc8,
    -1px -1px #f7cfc8, 1px 1px #f7cfc8, 2px 2px #f7cfc8,
    3px 3px #f7cfc8, 4px 4px #f7cfc8, 5px 5px #f7cfc8,
    6px 6px #f7cfc8, 7px 7px #f7cfc8, 8px 8px #f7cfc8,
    9px 9px #f7cfc8, 10px 10px #f7cfc8, 11px 11px #f7cfc8,
    12px 12px #f7cfc8, 13px 13px #f7cfc8, 14px 14px #f7cfc8,
    15px 15px #f7cfc8, 16px 16px #f7cfc8, 17px 17px #f7cfc8,
    18px 18px #f7cfc8, 19px 19px #f7cfc8, 20px 20px #f7cfc8,
    21px 21px #f7cfc8, 22px 22px #f7cfc8, 23px 23px #f7cfc8,
    24px 24px #f7cfc8, 25px 25px #f7cfc8, 26px 26px #f7cfc8,
    27px 27px #f7cfc8, 25px 25px #f7cfc8, 28px 28px #f7cfc8,
    29px 29px #f7cfc8, 30px 30px #f7cfc8, 31px 31px #f7cfc8,
    32px 32px #f7cfc8, 33px 33px #f7cfc8, 34px 34px #f7cfc8,
    35px 35px #f7cfc8, 36px 36px #f7cfc8, 37px 37px #f7cfc8,
    38px 38px #f7cfc8, 39px 39px #f7cfc8, 40px 40px
  
    
    
    ;
}

.sec2
{
    margin: 10px 0px;
}
::-webkit-scrollbar
{
    display: none;
}
.hov:hover
{
    color:gold;
}
.sign-up
{
    background-color: white;
    height: 150px;




    
    display: flex;
    align-items: center;
    justify-content: center;
}
#prc
{
    transition: 1s;
}
.inp-s
{
    padding: 10px;
   
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border: none;


    width: 30vw;
   
}
.btn-s
{
    background-color: #da4453;
    padding: 10px; 
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 15px;
}
.f-head
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #da4453;
    font-weight: bolder;
    font-size: 70px;
}
.sub-head
{
    background-color: white;
    color: #da4453;
    width: 100%;
    display: flex;
    font-size: 35px;
    justify-content: center;
}
.sub-head-hide
{
    background-color: white;
    color: #da4453;
    width: 100%;
  
    font-size: 35px;
    justify-content: center;
}
#btm-hide
{
    display:none;
    transition: 1s;
    padding: 10px 0px 30px 0px;
}
#clp 
{
overflow: hidden;
transition: 1s;
height: 300px;
background-color: white;

}


.abt
{
    margin: 100px 10px;
    text-align: center;
    padding: 0px 10vw;
    font-size: 30px;
}
.price
{
    width: 100%;

    display:flex;
    justify-content: end;
}
.price button{
    padding: 10px;
    margin: 0 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #da4453;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
li a{
    text-decoration: none;
    color: #da4453;

}
.abt-us
{
   
   
    width: 80%;
    margin: 10%;
    display: flex;
    height: 300px;
    align-items: center;
    color:#da4453;
    background-color:white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
}





@media only screen and (max-width:767px)
{
.l-nav
{
    display: none;
}
.r-nav
{
    width: 100%;
}
.nav-toggle {
display: flex;
}




.b-text
{
    font-size: 60px;
}

.s-text
{
    font-size: 15px;
    padding: 20px;
}

.sec
{
   flex-direction: column;
   margin: 60px 0px;
}

.tit
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0px;
    font-size: 40px;
}
.tit1
{
    display: none;
   
}

.sign-up
{
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp-s
{
    padding: 10px;
    width: 50vw;
    outline: none;
    border: 1 0 1 1 solid black;
}
.btn-s
{
    background-color: #da4453;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
}
.img-1
{
    height: 250px;
}

.f-head
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #da4453;
    font-size: 40px;
}

.abt
{
    text-align: center;
    margin: 60px 10px;
    padding: 0;
    font-size: 19px;
}


.sub-head
{
    background-color: white;
    color: #da4453;
    width: 100%;
    display: flex;
    font-size: 18px;
    justify-content: center;
}

.sub-head-hide
{
background-color: white;
color: #da4453;
width: 100%;
display: none;
font-size: 18px;
justify-content: center;



}

#btm-hide
{
    display:none;
    transition: 1s;
}

#clp 
{
    overflow: hidden;
    transition: 1s;
    height: 100vh;
    background-color: white;
}

.abt-us
{
   
    width: 80%;
    margin: 10%;
    display: flex;
    height: 300px;
    align-items: center;
    color:#da4453;
    background-color:white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}

}
























@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
